body
  background-color: #101010
  font-family: helvetica
  font-size: 22px

a
  text-decoration: none

#binder
  background-color: #484848
  margin: 0 auto
  width: 1000px
  border: 3px solid #fff
  -moz-border-radius: 5px
  -webkit-border-radius: 5px
  padding: 10px

.container
  margin: 0 auto
  
article
  display: block
  display: -moz-box
  display: -webkit-box
  width: 100%
  -moz-box-sizing: border-box
  -moz-box-align: center
  -moz-box-pack: center
  -webkit-box-sizing: border-box
  -webkit-box-align: center
  -webkit-box-pack: center
  height: 50px
  border-top: 1px dashed #666

article:first-of-type
  border-top: 0px

section
  display: block
  -moz-box-flex: 0
  -webkit-box-flex: 0
  width: 150px
  text-align: center
  padding-top: 10px

section.boss, section.item, section.date, section.noloot
  -moz-box-flex: 1
  -webkit-box-flex: 1
  
.position
  font-weight: bold
  font-size: 50px
  color: #cff
  
.name
  font-weight: bold

.boss
  color: #FFD100

/*** CLASS FONT COLORS ***/
.DeathKnight
  color: #C41F3B
.Druid
  color: #FF7D0A
.Hunter
  color: #ABD473
.Mage
  color: #69CCF0
.Paladin
  color: #F58CBA
.Priest
  color: #FFF
.Rogue
  color: #FFF569
.Shaman
  color: #0070DE
.Warlock
  color: #9482C9
.Warrior
  color: #C79C6E
  
.item
  a
    text-decoration: none
    color: #A335EE
    font-weight: bold

.date
  color: #fff

/*** FOOTER ***/

footer
  .cont
    margin: 15px auto
    background-color: #484848
    text-align: center
    width: 600px
    border: 2px solid #fff
    height: 30px
    padding-top: 8px
    -moz-border-radius: 5px
    -webkit-border-radius: 5px

footer.sub
  .cont
    width: 450px

ul
  list-style: none
  margin: 0px
  padding: 0px
ul.menu
  li
    display: inline
    margin: 0 5px
    a
      text-decoration: none
      color: #fff
    a:hover
      text-decoration: underline
ul.member_list
  li
    margin: 3px
    padding: 3px
    a
      text-decoration: none
    a:hover
      text-decoration: underline

/*** PAGINATION ***/
      
.pagination
  margin: 3px
  padding: 3px
  a
    padding: 2px 5px
    margin: 2px
    text-decoration: none
    color: #fff
  span.current
    padding: 2px 5px
    margin: 2px
    font-weight: bold
  span.disabled
    padding: 2px 5px
    margin: 2px
    color: #000
.pag
  text-align: right
  
/*** PANEL ***/

#new_item, #edit_item, #new_member, #edit_member
  text-align: center
  width: 250px
  background-color: #999
  padding: 15px
  margin: 10px