/*** GENERAL STYLES ***/

body
  background-color: #101010
  font-family: helvetica
  font-size: 22px
  
#binder
  background-color: #484848
  margin: 0 auto
  width: 1000px
  border: 3px solid #fff
  -moz-border-radius: 5px
  -webkit-border-radius: 5px
  padding: 10px

.container
  margin: 0 auto

/*** LINK STYLES ***/

a
  text-decoration: none

/*** LIST STYLES ***/

ul.inline
  list-style: none
  margin-top: 5px
  li
    display: inline
    
ul
  list-style: none
  margin: 0px
  padding: 0px

ul.menu
  li
    display: inline
    margin: 0 5px
    a
      text-decoration: none
      color: #fff
    a:hover
      text-decoration: underline

ul.member_list
  li
    margin: 3px
    padding: 3px
    a
      text-decoration: none
    a:hover
      text-decoration: underline

/*** BOX STYLES ***/
  
article
  display: block
  display: -moz-box
  display: -webkit-box
  width: 100%
  -moz-box-sizing: border-box
  -moz-box-align: center
  -moz-box-pack: center
  -webkit-box-sizing: border-box
  -webkit-box-align: center
  -webkit-box-pack: center
  min-height: 50px
  height: auto
  border-bottom: 1px dashed #666
  
article:last-of-type
  border-bottom: 0px

section
  display: block
  -moz-box-flex: 0
  -webkit-box-flex: 0
  width: 150px
  text-align: center
  
/*** SECTION STYLES ***/

.position
  font-weight: bold
  font-size: 50px
  color: #cff
  p
    margin: 0px
    padding: 0px

.name
  font-weight: bold
  
section.boss, section.item, section.date, section.noloot
  -moz-box-flex: 1
  -webkit-box-flex: 1


.item
  a
    text-decoration: none
    color: #A335EE
    font-weight: bold

.boss
  color: #FFD100

.spec
  color: #0091ff

.date
  color: #fff
  a
    color: #fff
    text-decoration: none

/*** CLASS FONT COLORS ***/
.DeathKnight
  color: #C41F3B
.Druid
  color: #FF7D0A
.Hunter
  color: #ABD473
.Mage
  color: #69CCF0
.Paladin
  color: #F58CBA
.Priest
  color: #FFF
.Rogue
  color: #FFF569
.Shaman
  color: #0070DE
.Warlock
  color: #9482C9
.Warrior
  color: #C79C6E

/*** FOOTER ***/

footer
  .cont
    margin: 15px auto
    background-color: #484848
    text-align: center
    width: 600px
    border: 2px solid #fff
    height: 30px
    padding-top: 8px
    -moz-border-radius: 5px
    -webkit-border-radius: 5px

footer.sub
  .cont
    width: 450px


/*** PAGINATION ***/
      
.pagination
  margin: 3px
  padding: 3px
  a
    padding: 2px 5px
    margin: 2px
    text-decoration: none
    color: #fff
  span.current
    padding: 2px 5px
    margin: 2px
    font-weight: bold
  span.disabled
    padding: 2px 5px
    margin: 2px
    color: #000
.pag
  text-align: right
  
/*** FORM STYLES ***/

#new_item, #edit_item, #new_member, #edit_member
  background-color: #666
  margin: 20px
  padding: 8px

#new_item, #edit_item
  width: 800px

#new_member, #edit_member
  width: 500px
  
.submit
  text-align: center
  margin-top: 12px