%article
  %section.name{:class => item.member.pclass}
    = item.member.name
  %section.item
    %a{ :href => item.link } #{item.name}
  %section.boss
    = item.boss
  %section.date
    = item.date.strftime('%b %d, %Y - %l:%M %p')