-unless @items.empty?
  .container
    = render :partial => 'item', :collection => @items
    .pag
      = will_paginate @items, :previous_label => "Previous", :next_label => "Next"
-else
  .container
    No Loot entries present.